.introline_text1, .introline_text4, .introline_text5, .introline_text8, .introline_text9 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-name: slide1;
    animation-timing-function: linear;
    display: inline-block
    
}

.introline_text2, .introline_text3, .introline_text6, .introline_text7{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-name: slide2;
    animation-timing-function: linear;
    display: inline-block
}

@keyframes slide1{
    from {
     left: 100%;
    }
  
    to {
      right: 0%;
    }
  }

  @keyframes slide2{
    from {
      right: 0%;
    }
  
    to {
      left: 0%;
    }
  }