.introline_text1, .introline_text4, .introline_text5, .introline_text8, .introline_text9 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  top: 2em;
  animation-name: centerToLeft;
  animation-duration: 10s;  
  animation-iteration-count: 1;
  }

.introline_text2, .introline_text3, .introline_text6, .introline_text7 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  top: 2em;
  animation-name: centerToRight;
  animation-duration: 10s;
  animation-iteration-count: 1;  
}

@keyframes centerToLeft {
  0% {text-align: center;}
  100% {text-align: left;}
}

@keyframes centerToRight {
	0% {text-align: center;}
  100% {text-align: right;}
}