body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
}

ul {
    list-style-type: none;
    display: inline-block;
}

.intro {
  text-align: center;
  border: 1px solid black;
  grid-column: 1 / 4;
  grid-row: 1;
}

.personaliaTitle {
  border: 1px solid black;
  grid-column: 1 / 4;
  grid-row: 2;
  margin: 0px;
}

.personalia {
  border: 1px solid black;
  grid-column: 1 / 4;
  grid-row: 3;
  margin: 0px;
}

.personaliaContentSmall {
  border: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 3;
}

.personaliaContentLarge {
  border: 1px solid black;
  grid-column: 2 / 4;
  grid-row: 3;
}

.educationTitle {
  border: 1px solid black;
  grid-column: 1 / 4;
  grid-row: 4;
  margin: 0px;
}


.educationContentSmall li {
  border: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 5;
  padding-bottom: 2em;
}

.educationContentLarge {
  border: 1px solid black;
  grid-column: 2 / 4;
  grid-row: 5;
}

.listContentSmall li{
  padding-bottom: 1em;
}

.experienceTitle {
  border: 1px solid black;
  grid-column: 1 / 4;
  grid-row: 6;
  margin: 0px;
}

.experienceContentSmall {
  grid-column: 1 / 2;
  grid-row: 7;
}

.experienceContentLarge {
  border: 1px solid black;
  grid-column: 2 / 4;
  grid-row: 7;
}

.internshipsTitle {
  border: 1px solid black;
  grid-column: 1 / 4;
  grid-row: 8;
  margin: 0px;
}

.internshipsContentSmall {
  grid-column: 1 / 2;
  grid-row: 9;
}

.internshipsContentLarge {
  border: 1px solid black;
  grid-column: 2 / 4;
  grid-row: 9;
}

.skillsTitle {
  border: 1px solid black;
  grid-column: 1 / 4;
  grid-row: 10;
  margin: 0px;
}

.skillsContentSmall {
  grid-column: 1 / 2;
  grid-row: 11;
}

.skillsContentLarge {
  border: 1px solid black;
  grid-column: 2 / 4;
  grid-row: 11;
}

.computerLargeList {
  padding-left: 0 ;
}